[submodule "deepomics"]
	path = deepomics
	url = https://github.com/p-koo/deepomics
[submodule "wrangler"]
	path = wrangler
	url = https://github.com/p-koo/wrangler
[submodule "process_data/wrangler"]
	path = process_data/wrangler
	url = https://github.com/p-koo/wrangler
